<html>

<head>
    <title>Particle Physics Event Classifier</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="script.js"></script>
</head>

<body>
    <h1>Particle Physics Event Classifier</h1>
    <h2>Choose the weight of the particle and see what would be the predicted outcome</h2>

    <form action="{{ url_for('prediction') }}" method="POST">
        <p class="names">Weight</p>
        <div class="range-wrap" style="width: 40%;">
            <input type="range" name="energy" class="range" min="0" max="8" step="0.01">
            <output class="bubble"></output>
        </div>

        <div style="text-align: center;">
            <button class="button" type="submit">Predict Outcome</button>
        </div>

    </form>

</body>

<script>
    const allRanges = document.querySelectorAll(".range-wrap");
    allRanges.forEach(wrap => {
    const range = wrap.querySelector(".range");
    const bubble = wrap.querySelector(".bubble");

    range.addEventListener("input", () => {
        setBubble(range, bubble);
    });
    setBubble(range, bubble);
    });

    function setBubble(range, bubble) {
    const val = range.value;
    const min = range.min ? range.min : 0;
    const max = range.max ? range.max : 100;
    const newVal = Number(((val - min) * 100) / (max - min));
    bubble.innerHTML = val;

    // Sorta magic numbers based on size of the native UI thumb
    bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
    }
</script>
</html>