body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: black;
}

h1 {
    color: white;
    font-size: 36px;
}

body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: black;
    padding-left: 100px;
}

h1 {
    padding: 20px;
    color: white;
    font-size: 36px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 24px;
    text-align: left;
    margin-bottom: 50px;
}

p {
    color: white;
    font-size: 20px;
}

.names {
    color: white;
    font-size: 18px;
    padding-left: 30%;
}

.range-wrap {
    position: relative;
    margin: 0 auto 3rem;
}

.range {
    width: 100%;
}

.bubble {
    background: red;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: red;
    top: -1px;
    left: 50%;
}

.button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: rgb(205, 186, 84);
        left: 50%;
}